<div class="bar-container">
  <a href="/">
    <img class="home-logo" src="/images/home.png" alt="home">
  </a>
  <span><%= title %></span>
  <div class="bar-link">
    <span><%= username %></span>
    <a href="/write">write docs</a>
    <a href="/users/logout">Sign out</a>
  </div>
</div>